.folder-list-container {
  width: 50%;
  min-width: 300px;
  height: 80%;
  min-height: 400px;
  border: 1px;
  border-color: magenta;
  border-style: solid;
}
.folders-control {
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    input {
      margin-left: 10px;
    }
  }
}
