<div class="folder-list-container" (click)="clearSelection()">
  <app-folder-list [folderList]="folderList$ | async"> </app-folder-list>
</div>
<form [formGroup]="foldersFormGroup" (ngSubmit)="addFolder()">
  <div class="folders-control">
    <div>
      <label for="inputFolderName">
        Folder Name:
      </label>
      <input
        id="inputFolderName"
        type="text"
        formControlName="formControlFolderName"
        [placeholder]="'New Folder Name'"
      />
    </div>
    <button type="submit" [disabled]="foldersFormGroup.invalid">Add</button>
  </div>
  <div class="folders-control">
    <button [disabled]="!(folderSelected$ | async)" (click)="deleteFolder()">
      Delete Selected Folder
    </button>
    <button (click)="saveAll()">Save All</button>
  </div>
</form>
