<div class="folder-list-container" (click)="clearSelection()">
  <app-folder-list [folderList]="folderList$ | async"> </app-folder-list>
</div>
<form [formGroup]="foldersFormGroup" (ngSubmit)="addFolder()">
  <label for="inputFolderName">
    Folder Name:
  </label>
  <input
    id="inputFolderName"
    type="text"
    formControlName="formControlFolderName"
    [placeholder]="'New Folder Name'"
  />
  <button type="submit" [disabled]="foldersFormGroup.invalid">Add</button>
  <button [disabled]="!(folderSelected$ | async)" (click)="deleteFolder()">Delete</button>
</form>
